scikit-learn==1.0.2
pandas~=1.3.5
numpy~=1.21.6
git+https://github.com/intelligent-environments-lab/CityLearn.git@v1.3.6
torch~=1.13.1
torchvision
torchaudio
pytorch-lightning





gym~=0.24.1
matplotlib~=3.6.3
transformers~=4.26.1
jax~=0.4.2
joblib~=1.2.0
xgboost~=1.7.3